<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ComprasWeb</display-name>
	 <distributable/>
	
	<servlet>
		<display-name>HaJsp</display-name>
		<servlet-name>HaJsp</servlet-name>
		<jsp-file>/HaJsp.jsp</jsp-file>
	</servlet>
	<servlet>
		<display-name>ClearSession</display-name>
		<servlet-name>ClearSession</servlet-name>
		<jsp-file>/ClearSession.jsp</jsp-file>
	</servlet>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>HaJsp.jsp</welcome-file>
	</welcome-file-list>
</web-app>