<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Catalogo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FilmeServlet</display-name>
    <servlet-name>FilmeServlet</servlet-name>
    <servlet-class>br.unifor.catalogo.web.servlet.FilmeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmeServlet</servlet-name>
    <url-pattern>/FilmeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerenciadorServlet</display-name>
    <servlet-name>GerenciadorServlet</servlet-name>
    <servlet-class>br.unifor.catalogo.web.servlet.GerenciadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenciadorServlet</servlet-name>
    <url-pattern>/GerenciadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByteServlet</display-name>
    <servlet-name>ByteServlet</servlet-name>
    <servlet-class>br.unifor.catalogo.web.servlet.ByteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByteServlet</servlet-name>
    <url-pattern>/ByteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HashTableServlet</display-name>
    <servlet-name>HashTableServlet</servlet-name>
    <servlet-class>br.unifor.catalogo.web.servlet.HashTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashTableServlet</servlet-name>
    <url-pattern>/cluster2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HashTableServlet</servlet-name>
    <url-pattern>/cluster4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HashTableServlet</servlet-name>
    <url-pattern>/cluster6</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
</web-app>